<!doctype html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(client) app/vendor.css -->
      <!-- bower:css -->
      <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,client}) app/app.css -->
    <link rel="stylesheet" href="app/app.css">
      <!-- injector:css -->
      <!-- endinjector -->
    <!-- endbuild -->
  </head>
  <body ng-app="<%= scriptAppName %>">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <% if(filters.ngroute) { %><div ng-view=""></div><% } %><% if(filters.uirouter) { %><div ui-view=""></div><% } %>

    <!-- build:js({client,node_modules}) app/vendor.js -->
    <!-- bower:js -->
    <!-- endbower --><% if(filters.socketio) { %>
    <script src="socket.io-client/socket.io.js"></script><% } %>
    <!-- endbuild -->

    <!-- build:js({.tmp,client}) app/app.js -->
    <script src="sdk/charts/charts.module.js"></script>
    <script src="sdk/config/config.module.js"></script>
    <script src="sdk/model/model.module.js"></script>
    <script src="sdk/redux/redux.js"></script>
    <script src="sdk/redux/redux.module.js"></script>
    <script src="sdk/utils/utils.module.js"></script>
    <script src="sdk/sdk.module.js"></script>
    <script src="portal/app.js"></script>

    <!-- injector:js -->
    <!-- endinjector -->
    <!-- endbuild -->
</body>
</html>
